<% include ./partials/header.ejs %>

<div id="myContainer">
  <h1 class="text-center">Live</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Update</th>
        <th>Online</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% liveList.forEach(live => { %>
        <tr>
          <td><a href="/admin/live/<%=live.id %>"><%=live.title %></a></td>
          <td align="center">
            <a class="btn btn-info" href="/admin/live/update/<%=live.id %>">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
          </td>
          <td align="center">
            <% if (live.isOnline) { %>
              <button class="btn btn-success online-btn" data-live-id="<%=live.id %>">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
            <% } else { %>
              <button class="btn btn-warning online-btn" data-live-id="<%=live.id %>">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            <% } %>
          </td>
          <td align="center">
            <button class="btn btn-danger delete-btn" data-live-id="<%=live.id %>">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<% include ./partials/footer.ejs %>